.container {
    padding: 20px;
    margin: 20px auto auto auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}

.projectscontainer {
    padding: 1rem;
    margin-bottom: 1rem;
    min-height: 100%;
    border: 2px solid var(--Cyan);
    background-color: var(--red);
    width: 400px;
    height: 400px;
    border-radius: 50px;
    box-shadow: 1em 0 .4em var(--Cyan) -1em 0 .4em var(--Cyan);
}

.projectsbg {
    Margin: 5%;
    width: 90%;
    border-radius: 50px;
}

.projectlabel {
    position: relative;
    text-align: center;
    padding: 15px 0px 15px 0px;
    width: 90%;
    margin: auto;
    top: -100px;
    background-color: var(--red);
    z-index: 3;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.projectlabel:hover {
    opacity: 0.3;
}

.projlink {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.contenttitle {
    font-size: 50px;
    font-weight: bold;
    color:var(--Cyan);
    padding-bottom: 20px;
    margin-bottom: 20px;
}