.container {
    width: 960px;
    margin: 20px auto auto auto;
}

.contact {
    float: left;
    width: 560px;
    background-color: var(--Cyan);
    border: 1px solid var(--red);
    padding: 20px;

}

.connect {
    float: right;
    width: 300px;
    background-color: var(--Cyan);
    border: 1px solid var(--red);
    padding: 20px;
}

form {
    font-size: 12px;
    line-height: 2;
    color: #777777;
}

input, textarea {
    width: 100%;
}

.button {
    width: 200px;
    font-size: 15px;
    padding: 10px 15px;
    background-color: var(--red);
    color: var(--Cyan);
    border: 2px solid var(--red);
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-align: center;
}

.button:hover {
    color: var(--Cyan);
    background-color: var(--Blue);
}

.logo {
    float: left;
    width: 80px; 
    padding: 10px; 
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.logo:hover {
    opacity: 0.3;
}